<!-- <p-splitbutton styleClass="hover-none {{style?.bg}} icon-print" #splitbutton severity="info" [text]="true" [plain]="true" size="large" appendTo="print"
  [label]="style?.label" [model]="items" (click)="$event.stopPropagation()" (mousedown)="$event.stopPropagation()" className="custom-split"
  dropdownIcon="pi pi-print" iconPos="left"/> -->

<div class="print">
  <p-button styleClass="icon-print !p-1 !text-2xl" [outlined]="true" severity="help" icon="pi pi-download" (click)="menu.toggle($event)"
    appendTo="body" />
  <p-tieredmenu #menu [model]="items" [popup]="true" />
</div>
<!-- <div class="flex gap-4">

  Botão 1: Relatório de Tarefas -->
<!--  @for(print of impressoes; track $index){
  <div (click)="imprimir(print)"
    class="min-w-[220px] flex items-center p-4 rounded-lg bg-surface-50 dark:bg-surface-800 shadow-sm cursor-pointer transition-all duration-200 hover:shadow-lg hover:bg-surface-100 dark:hover:bg-surface-700">
    <div class="mr-2 hidden lg:flex items-center justify-center bg-gray-100/30 dark:bg-gray-400/10 rounded-border"
      style="width: 3.0rem; height: 3.0rem">
      <i class="pi pi-print !text-2xl text-blue-300"></i>
    </div>

    <div>
      <span class="font-semibold block">{{print.label}}</span>
      <small class="text-surface-500">Exportar em PDF</small>
    </div>
  </div>
   }
</div> -->
