<p-fluid>
  <div class="flex">
    <div class="flex-col gap-6 w-full">
      <app-titulo-curto [titulo]="{
        nome: 'Cadastro grupos',
        icone: 'pi-building'
      }" />
      <div class="flex flex-auto flex-wrap gap-6 py-4" style="max-width: 400px;">
        <div class="flex flex-col gap-4 flex-grow">
          <div class="flex flex-wrap gap-2 w-full">
            <label for="firstname" class="required">Nome do grupo</label>
            <input [class.border-error]="grupo.description== ''" [(ngModel)]="grupo.description" pInputText
              type="text" />
          </div>
        </div>
      </div>
      <app-voltar-salvar (salvarEmit)="salvarGrupo()" [cancel]="true" (voltarEmit)="fechar()" />
    </div>
  </div>
</p-fluid>
