<div class="card" style="padding-left: 0;padding-top: 0;max-height: calc(100vh - 250px);">
  <div class="flex flex-nowrap">
    <div id="canvas" class="box-bpmn col-span-4"></div>
    <div id="properties-container"></div>
  </div>
    <div class="flex itens-center justify-center mt-8">
    <p-button icon="pi pi-arrow-left" label="Voltar" (click)="voltar()" outlined [style]="{ marginRight: '0.25em' }" />
    <p-button icon="pi pi-download" label="Baixar" (click)="baixar()" [style]="{ marginRight: '0.25em' }" />
    <p-button icon="pi pi-save" label="Salvar" (click)="salvar()" [style]="{ marginRight: '0.25em' }" />
  </div>
</div>
