<div class="card bg-surface-ground !p-0">
  <p-tabs value="0" [scrollable]="true" (valueChange)="selectTab($event)" [value]="tab">
    <p-tablist>
      <p-tab value="instancias">
        <i class="pi pi-sitemap mr-3"></i>
        <span>Instâncias</span>
      </p-tab>
      <p-tab value="tarefas">
        <i class="pi pi-list-check mr-3"></i>
        <span>Tarefas</span>
      </p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="instancias">
        @if(tab == 'instancias'){
        <app-process-instance-filter />
        }
      </p-tabpanel>
      <p-tabpanel value="tarefas">
        @if(tab == 'tarefas'){
        <app-task-filter />
        }
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
