<div class="grid grid-cols-12 bg-white shadow p-4 m-1 rounded">
  <div class="col-span-1 font-bold">#</div>
  <div class="col-span-1 font-bold">Ordem</div>
  <div class="col-span-4 font-bold">Nome</div>
  <div class="col-span-5 font-bold">Email</div>
  <div class="col-span-1 font-bold"></div>
</div>
<div cdkDropList [cdkDropListData]="signatarios" (cdkDropListDropped)="drop($event)"
  class="box-signatarios table-responsive">
  @for ( signatario of signatarios; track $index) {
  <div cdkDrag (cdkDragStarted)="onDragStart()" class="grid grid-cols-12 bg-white shadow p-4 m-1 rounded align-middle">
    <div class="col-span-1">
      <div class="flex items-center justify-center bg-teal-100 dark:bg-teal-400/10 rounded-full cursor-pointer"
        style="width: 2rem; height: 2rem">
        <i class="pi pi-users text-teal-500 !text-mediun"></i>
      </div>
    </div>
    <div class="col-span-1 my-auto">{{signatario.ordem}}</div>
    <div class="col-span-4 my-auto">{{signatario.nome}}</div>
    <div class="col-span-5 my-auto">{{signatario.email}}</div>
    <div class="col-span-1 my-auto flex gap-2 justify-end">
      <i pTooltip="Remover signatário" tooltipPosition="left" class="pi pi-trash hover cursor-pointer" style="font-size: 1.2rem"></i>
      <i (click)="editar(signatario)" pTooltip="Editar signatário" tooltipPosition="left" class="pi pi-pen-to-square hover cursor-pointer" style="font-size: 1.2rem"></i>
    </div>
  </div>
  }
</div>
