<div class="p-2 lg:p-4">
  <div class="flex flex-col justify-between">
    <p-tabs [scrollable]="true" (valueChange)="selectTab($event)" [value]="tab">
      <p-tablist>
        @if(incidentes?.length){
        <p-tab value="incidentes" style="background-color: #fc264a;color: white;border: none!important">
          <i class="pi pi-exclamation-triangle mr-3"></i>
          <span>Incidentes</span>
        </p-tab>
        }
        @if(jobs?.length){
        <p-tab value="trabalhos" style="background-color: #00bcd4;color: white;border: none!important">
          <i class="pi pi-spin pi-cog mr-3"></i>
          <span>Processando</span>
        </p-tab>
        }
        <p-tab value="variaveis">
          <i class="pi pi-play-circle mr-3"></i>
          <span>Variáveis</span>
        </p-tab>
        <p-tab value="2">
          <i class="pi pi-arrow-right-arrow-left mr-3"></i>
          <span>Chamdas de processo</span>
        </p-tab>
        <p-tab value="3">
          <i class="pi pi-briefcase mr-3"></i>
          <span>Definições de trabalho</span>
        </p-tab>
        <p-tab value="tarefas-externas">
          <i class="pi pi-cog mr-3"></i>
          <span>Tarefas externas</span>
        </p-tab>
        <p-tab value="logs">
          <i class="pi pi-chart-bar mr-3"></i>
          <span>Logs</span>
        </p-tab>
        <p-tab value="4">
          <i class="pi pi-sitemap mr-3"></i>
          <span>Diagrama</span>
        </p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="variaveis">
            <app-titulo-pesquisa
              [value]="{ titulo: '', botaoAdd: 'Nova variável', showAtivos: false, showCustom: true, hideBack: true }"
              (customEmit)="criarVariavel = true" />
            <app-tabela [auth]="{delete: 'UPDATE_INSTANCE_VARIABLE', edit: 'TASK_ASSIGN'}"
              [view]="{ editEvent: true, deleteEvent: true, download: true }" (excluirEmit)="removerVariavel($event)"
              (editarEmit)="editarVariavel($event)" (downloadEmit)="download($event)" [cols]="colsInstancia"
              [itens]="variaveis" />
        </p-tabpanel>
        <p-tabpanel value="incidentes">
            <h3>Incidentes da instância</h3>
            <app-titulo-pesquisa [value]="{ titulo: '', showAtivos: false, showCustom: false }" />
            <app-lista-incidentes [incidentes]="incidentes" />
        </p-tabpanel>
        <p-tabpanel value="trabalhos">
            <h3>Processos aguardando execução</h3>
            <app-lista-jobs (updateEmit)="atualizar()" [jobs]="jobs" />
        </p-tabpanel>
        <p-tabpanel value="tarefas-externas">
            <app-tabela (alertEmit)="detalhesErro($event)" [view]="{alertEvent: true}"
              [auth]="{alert: 'PROCESS_INSTANCE_READ', edit: 'PROCESS_INSTANCE_READ'}" [cols]="colsTaskExternal"
              [itens]="tarefasExternas" />
        </p-tabpanel>
        <p-tabpanel value="logs">
          <div class="py-4">
            @if(instancia?.id){
            <app-lista-logs [instancia]="instancia"></app-lista-logs>
            }
          </div>
        </p-tabpanel>
        <p-tabpanel value="4">
          <div class="p-4">
            @if(xml && tab == '4'){
            <app-visao-fluxo [xml]="xml" />
            }
          </div>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</div>

<p-dialog [modal]="true" [(visible)]="verErro.value" [style]="{ width: '25rem' }">
  <p>{{verErro?.detalhes}}</p>
  <div class="flex justify-end gap-2 mt-4">
    <p-button label="Ok" (click)="verErro.value = false" />
  </div>
</p-dialog>

<p-dialog [header]="variavel?.name" [modal]="true" [(visible)]="alterarVariavel" [style]="{ width: '25rem' }">
  @if(alterarVariavel && !criarVariavel){
  <app-visao-formulario [schema]="schema" [data]="dataVar" [apenasBotaoEnviar]="true" (dataEmit)="formEmit($event)" />
  }
</p-dialog>

<p-dialog header="Nova variável" [modal]="true" [(visible)]="criarVariavel"
  [style]="{ width: '100%', 'max-width': '400px' }">
  <div class="px-4">
    <div class="flex flex-col gap-2 w-full">
      <label class="required">Nome</label>
      <input [(ngModel)]="nomeVariavel" pInputText type="text" />
    </div>
    <div class="flex flex-wrap gap-2 w-full">
      <label class="required">Tipo da variável</label>
      <p-select [disabled]="nomeVariavel == ''" [options]="tiposVariaveis" [(ngModel)]="tipoVariavel" [checkmark]="true"
        (onChange)="gerarVariavel()" optionLabel="nome" [showClear]="true" placeholder="Selecione um protocolo"
        class="w-full" />
    </div>
  </div>
  @if(true || schema.components.length > 0){
  <app-visao-formulario [variavel]="variavel" [schema]="schema" [data]="dataVar" [apenasBotaoEnviar]="true"
    (dataEmit)="formEmit($event)" />
  }
  <div class="flex mt-8 gap-2">
    <p-button (onClick)="criarVariavel = false" label="Fechar" icon="pi pi-times" text />
    <p-button *ngIf="tipoVariavel?.tipo == 'Object'" (onClick)="adicionarItem = true" severity="danger"
      label="Novo item" icon="pi pi-times" />
  </div>
</p-dialog>


<p-dialog header="Nova item" [modal]="true" [(visible)]="adicionarItem"
  [style]="{ width: '100%', 'max-width': '400px' }">
  <div class="px-4">
    <div class="flex flex-col gap-2 w-full">
      <label class="required">Nome</label>
      <input #item pInputText type="text" />
    </div>
  </div>
  <div class="flex mt-8 gap-2">
    <p-button (onClick)="adicionarItem = false" label="Fechar" icon="pi pi-times" text />
    <p-button *ngIf="tipoVariavel?.tipo == 'Object'" (onClick)="adicionarItemLista(item.value); adicionarItem = false"
      severity="danger" label="Novo item" icon="pi pi-times" />
  </div>
</p-dialog>
