<div class="flex flex-col gap-4 px-5">
  <div class="flex flex-col">
    <label class="text-gray-400">Nome</label>
    <p class="font-semibold">
      {{tarefa?.name | vazio}}
    </p>
  </div>
  <div class="flex flex-col">
    <label class="text-gray-400">Descrição</label>
    <p>
      {{identity.getDescricao(tarefa?.description) | vazio}}
    </p>
  </div>
  <div class="flex flex-col">
    <label class="text-gray-400">Responsavel</label>
    <p class="font-semibold text-teal-500">
      {{identity.getUserName(tarefa?.assignee)}}
    </p>
  </div>
  <div class="flex flex-col">
    <label class="text-gray-400">Data vencimento</label>
    <p class="font-semibold text-orange-500">
      {{tarefa?.due ? (tarefa?.due | date : 'dd/MM/yyyy HH:mm:SS') : (tarefa?.due | vazio)}}
    </p>
  </div>
  <div class="flex flex-col">
    <label class="text-gray-400">Data de acompanhamento</label>
    <p class="font-semibold">
      {{tarefa?.followUp ? (tarefa?.followUp | date : 'dd/MM/yyyy HH:mm:SS') : (tarefa?.followUp | vazio)}}
    </p>
  </div>
  <div class="flex flex-col">
    <label class="text-gray-400">Supervisor</label>
    <p class="font-semibold">
      {{identity.getUserName(tarefa?.owner) | vazio}}
    </p>
  </div>
  <div class="flex flex-col">
    <label class="text-gray-400">Prioridade</label>
    <p class="font-semibold">
      {{tarefa?.priority}}
    </p>
  </div>
  <div class="flex flex-col">
    <label class="text-gray-400">Status</label>
    <p class="font-semibold text-teal-500">
      {{statusTarefaDescriptions[tarefa?.taskState] | vazio}}
    </p>
  </div>
  <div class="flex flex-col">
    <label class="text-gray-400">Data criação</label>
    <p class="font-semibold">
      {{tarefa?.created ? (tarefa?.created | date : 'dd/MM/yyyy HH:mm:SS') : (tarefa?.created | vazio)}}
    </p>
  </div>
  <div class="flex flex-col">
    <label class="text-gray-400">Ultima atualização</label>
    <p class="font-semibold">
      {{tarefa?.lastUpdated ? (tarefa?.lastUpdated | date : 'dd/MM/yyyy HH:mm:SS') : (tarefa?.lastUpdated | vazio)}}
    </p>
  </div>
  <div class="flex flex-col">
    <label class="text-gray-400">Suspensa</label>
    <p class="font-semibold text-orange-500">
      {{tarefa?.suspended ? 'Sim' : 'Não'}}
    </p>
  </div>
  @if(tarefa?.delegationState == 'PENDING'){
  <p-message severity="error">
    <div class="flex flex-col">
      <p class="font-bold text-white">Tarefa foi Delegada</p>
      <span class="ml-2">Pendente de ser resolvida!</span>
    </div>
  </p-message>
  }
</div>
