<div class="flex flex-col gap-4 p-4" style="min-width: 300px;">
  <div class="flex flex-col gap-2 w-full">
    <label for="descricao" class="required">Nome</label>
    <input [disabled]="true" [(ngModel)]="signatario.nome" pInputText type="text" />
  </div>
  <div class="flex flex-col gap-2 w-full">
    <label for="descricao" class="required">Email</label>
    <input [disabled]="true" [(ngModel)]="signatario.email" pInputText type="text" />
  </div>
  <div class="flex items-center">
    <p-checkbox inputId="dashboard" name="dashboard" [(ngModel)]="checked" [binary]="true" />
    <label for="dashboard" class="ml-2"> Certificado digital </label>
  </div>
  <div class="flex items-center">
    <p-checkbox inputId="dashboard" name="dashboard" [(ngModel)]="checked" [binary]="true" />
    <label for="dashboard" class="ml-2"> Capturar face </label>
  </div>
</div>
