<div class="mb-4">
  <app-titulo-protocolo [instancia]="instancia" />
</div>
@if (instancia && tarefas?.length) {
<app-timeline [instancia]="instancia" [vertical]="true" [tarefas]="tarefas" />
}
<div class="flex flex-col justify-between">
  <p-tabs value="0" [scrollable]="true" (valueChange)="selectTab($event)" [value]="tab">
    <p-tablist>
      @if(incidentes?.length){
      <p-tab value="incidentes" [class.incidente-aberto]="contemIncidenteABerto()">
        <i class="pi pi-exclamation-triangle mr-3"></i>
        <span>Incidentes</span>
      </p-tab>
      }
      @if(jobs?.length){
      <p-tab value="trabalhos" style="background-color: #00bcd4;color: white;">
        <i class="pi pi-spin pi-cog mr-3"></i>
        <span>Processando</span>
      </p-tab>
      }
      <p-tab value="dados">
        <i class="pi pi-address-book mr-3"></i>
        <span>Formulários</span>
      </p-tab>
      <p-tab value="variaveis">
        <i class="pi pi-database mr-3"></i>
        <span>Variáveis</span>
      </p-tab>
      <p-tab value="1">
        <i class="pi pi-play mr-3"></i>
        <span>Tarefas</span>
      </p-tab>
      <p-tab value="2">
        <i class="pi pi-comment mr-3"></i>
        <span>Comentários</span>
      </p-tab>
      <p-tab value="3">
        <i class="pi pi-arrow-right-arrow-left mr-3"></i>
        <span>Documentos</span>
      </p-tab>
      <p-tab value="4">
        <i class="pi pi-briefcase mr-3"></i>
        <span>Anexos</span>
      </p-tab>
      @if(instancia?.state == 'COMPLETED'){
      <p-tab value="5" class="bg-orange-400" style="background-color: #8500ff;color: white;">
        <i class="pi pi-refresh mr-3"></i>
        <span>Reabrir protocolo</span>
      </p-tab>
      }
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="incidentes">
        <div class="card">
          <app-lista-incidentes [incidentes]="incidentes" />
        </div>
      </p-tabpanel>
      <p-tabpanel value="trabalhos">
        <div class="card">
          <app-lista-jobs (updateEmit)="atualizar()" [jobs]="jobs" />
        </div>
      </p-tabpanel>
      <p-tabpanel value="dados">
        <div class="card">
          @if(protocolo && variaveis){
          <app-lista-formulario-protocolo [readonly]="true" [deploymentId]="protocolo?.deploymentId" [data]="variaveis" />
          }
        </div>
      </p-tabpanel>
      <p-tabpanel value="variaveis">
        <div class="card">
         <app-titulo-pesquisa
            [value]="{ titulo: '',  hideBack: true }"  />
          <app-tabela [auth]="{delete: 'UPDATE_INSTANCE_VARIABLE', edit: 'TASK_ASSIGN'}" [cols]="colsInstancia"
            [itens]="variaveis" />
        </div>
      </p-tabpanel>
      <p-tabpanel value="1">
        <div class="card">
          <app-tabela [view]="{
                  editEvent: false,
                  delete: false,
                  customview: true
                }" [page]="pagina" (visualizarEmit)="visualizarTarefa($event)" [cols]="colsTarefas"
            [itens]="tarefas" />
        </div>
      </p-tabpanel>
      <p-tabpanel value="2">
        <div class="card">
          <div class="box-lista flex flex-col gap-2 overflow-x-auto">
            @for (comentario of comentarios; track $index) {
            <div class="grid grid-cols-12 p-4 shadow-sm hover:border-primary-300 dark:border-b dark:border-gray-700">
              <div class="col-span-1 hidden lg:block">
                <div class="flex items-center justify-center bg-gray-100 dark:bg-gray-400/10 rounded-lg"
                  style="width: 3.5rem; height: 3.5rem">
                  <i class="pi pi-clock text-gray-300 !text-xl"></i>
                </div>
              </div>
              <div class="col-span-12 lg:col-span-10 flex gap-2 lg:gap-8">
                <div class="flex gap-2 flex-col">
                  <p class="m-0 font-bold">{{identityService.getUserName(comentario.userId)}}</p>
                  <p class="font-light text-gray-600 dark:text-gray-300">
                    {{comentario.time | date: 'dd/MM/yyy HH:mm:ss'}}
                  </p>
                </div>
                <div class="flex gap-2 flex-col">
                  <p class="m-0 font-bold text-primary">{{comentario.message}}</p>
                </div>
              </div>
            </div>
            }
          </div>
        </div>
      </p-tabpanel>
      <p-tabpanel value="3">
        <div class="card">
          @if (tarefa && tab == '3') {
          <app-lista-documentos [tarefa]="tarefa" [isInstance]="true" [documentos]="true" [viewDelete]="false" />
          }
        </div>
      </p-tabpanel>
      <p-tabpanel value="4">
        <div class="card">
          @if (tarefa && tab == '4') {
          <app-lista-documentos [tarefa]="tarefa" [isInstance]="true" [anexos]="true" [viewDelete]="false" />
          }
        </div>
      </p-tabpanel>
      @if(instancia?.state == 'COMPLETED'){
      <p-tabpanel value="5">
        <div class="card">
          <app-reabrir-protocolo [instancia]="instancia" />
        </div>
      </p-tabpanel>
      }
      <p-tabpanel value="6">
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
