<div class="flex flex-col gap-4">
  <div class="flex flex-col items-start p-2 gap-4">
    <a href="https://auth.simodapp.com:8443/realms/simod/account?referrer=security-admin-console&referrer_uri=http%3A%2F%2F192.168.15.200%3A8080%2Fadmin%2Fmaster%2Fconsole%2F%23%2Fsimod%2Frealms">
      <i class="pi pi-user mr-4"></i>
      <span>Minha conta</span>
    </a>
    @if (!isLogin) {
    <button (click)="login()" type="button" class="layout-topbar-action">
      <i class="pi pi-sign-in"></i>
      <span>Login</span>
    </button>
    }@else{
    <button (click)="logout()" type="button" class="layout-topbar-action">
      <i class="pi pi-sign-out"></i>
      <span>Sair</span>
    </button>
    }
  </div>
</div>
