<div class="card">
  <div class="flex flex-col gap-5 p-2 box-tarefas">
    <p-selectbutton (onChange)="filtrarTarefas($event)" [options]="filtros" [(ngModel)]="filtroSelect"
      optionLabel="name" aria-labelledby="basic">
      <ng-template #item let-item>
        <div class="flex items-center gap-3">
          <i [style.color]="item.properties.color"
            class="pi pi-{{filtroSelect?.id && item.id == filtroSelect?.id ? 'check-circle' : 'circle'}}"></i>
          <h6 [style.color]="item.properties.color" class="mb-0 mt-0">{{item.name}}{{item?.count ? ' (' + item.count +
            ')' : ''}}</h6>
        </div>
      </ng-template>
    </p-selectbutton>
    @if(tarefas.length){
    <p-dataview #dv [value]="tarefas">
      <ng-template #list let-items>
        <div class="grid grid-cols-12 gap-2 overflow-x-auto" style="max-height: calc(100vh - 225px);">
          <div class="col-span-12 gap-4 overflow-x-auto" *ngFor="let tarefa of items;" class="col-span-12">
            <div
              class="flex flex-col sm:flex-row sm:items-center p-4 gap-4 mb-2 shadow hover:border-b-2 hover:border-primary-300 dark:border-b dark:border-gray-700 cursor-pointer">
              <div class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-6">
                <div class="flex flex-col gap-4">
                  <div class="text-lg font-medium text-surface-900 dark:text-surface-0">{{tarefa?.name ? tarefa.name :
                    tarefa.taskDefinitionKey}}</div>
                  <div class="flex gap-6">
                    <div class="flex flex-col">
                      <span class="text-gray-400 font-normal">Criada em</span>
                      <p class="font-semibold">{{tarefa.created | date : 'dd/MM/yyyy HH:mm:SS'}}</p>
                    </div>
                    <div class="flex flex-col">
                      <span class="text-gray-400 font-normal">Prioridade</span>
                      <p class="font-semibold text-gray-500">{{tarefa.priority}}</p>
                    </div>
                    <div class="flex flex-col">
                      <span class="text-gray-400 font-normal">Ultimo staus</span>
                      <p class="font-semibold text-primary-500">{{statusTarefaDescriptions[tarefa.taskState]}}</p>
                    </div>
                    @if (tarefa?.processInstanceId){
                    <div class="flex flex-col">
                      <span class="text-gray-400 font-normal">Protocolo</span>
                      <p routerLink="/painel/protocolo/detalhes/{{tarefa?.processInstanceId}}"
                        class="font-semibold text-blue-500 cursor-pointer">
                        {{identity.getProtocolo(tarefa?.processInstanceId)}}</p>
                    </div>
                    }
                    @if (tarefa.due) {
                    <div class="flex flex-col">
                      <span class="text-gray-400 font-normal">Vencimento</span>
                      <p class="font-semibold text-orange-500">{{tarefa.due | date : 'dd/MM/yyyy HH:mm:SS'}}</p>
                    </div>
                    }
                    @if (tarefa.assignee){
                    <div class="flex flex-col">
                      <span class="text-gray-400 font-normal">Responsável</span>
                      <p class="font-semibold text-orange-500">{{}}</p>
                    </div>
                    }
                  </div>
                </div>
                <div class="flex flex-col justify-end items-end gap-8">
                  <span class="text-gray-300">{{identity.getProtocolo(tarefa?.processInstanceId)}}</span>
                  <div class="flex flex-row-reverse md:flex-row gap-2">
                    @if(tarefa?.assignee){
                    <div (click)="toggle(tarefa, $event)"
                      class="flex items-center justify-center bg-blue-100 dark:bg-blue-400/10 rounded-border"
                      style="width: 2.5rem; height: 2.5rem">
                      <i class="pi pi-users text-blue-500 !text-xl"></i>
                    </div>
                    }
                    @if(isInstanciaUsuario(tarefa)){
                    <p-button (click)="removerTarefa(tarefa.id)" icon="pi pi-trash" severity="secondary"
                      [outlined]="true" />
                    }
                    @if(!tarefa?.assignee && !isInstanciaUsuario(tarefa)){
                    <p-button (click)="assumir(tarefa.id)" icon="pi pi-address-book" [outlined]="true"
                      severity="secondary" class="flex-auto md:flex-initial whitespace-nowrap" label="Assumir" />
                    }
                    <p-button routerLink="detalhes/{{tarefa.id}}" icon="pi pi-info-circle" [outlined]="true"
                      class="flex-auto md:flex-initial whitespace-nowrap" label="Ver tarefa" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataview>
    }@else {
    <p-message>Nenhuma tarefa foi filtrada</p-message>
    }
  </div>
</div>

<p-popover #op>
  @if(usuarioClaim){
  <div class="flex flex-col gap-4">
    <div>
      <ul class="list-none p-0 m-0 flex flex-col">
        <li class="flex items-center gap-4 px-2 py-3 hover:bg-emphasis cursor-pointer rounded-border">
          <div (click)="removerResponsavel()"
            class="flex items-center justify-center bg-orange-100 dark:bg-orange-400/10 rounded-xl"
            style="width: 2.5rem; height: 2.5rem">
            <i class="pi pi-trash text-orange-500 !text-xl"></i>
          </div>
          <div>
            <span class="font-medium">{{ usuarioClaim?.firstName }}</span>
            <div class="text-sm text-surface-500 dark:text-surface-400">{{ usuarioClaim?.email }}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  }
</p-popover>
