<div class="w-full">
  <div class="flex justify-between items-end my-6 gap-4">
    <div class="flex flex-col gap-2 w-full" style="width: 100%; max-width: 400px;">
      <label for="lastName" class="required">Nome</label>
      <div class="flex"></div>
      <input [(ngModel)]="grupo.attributes.nome[0]" pInputText type="text" />
    </div>
    <p-button (click)="visible = true" [label]="layoutService.isDesktop() ? 'Adicionar' : ''"
      icon="pi pi-plus" [style]="{'min-width': '20px'}" />
  </div>

  <div class="my-4">
    <p-message severity="info">Arraste para definir a ordem de assinatura</p-message>
  </div>
  @if (update) {
  <div class="my-4">
    <p-message severity="success">Salve as alterações</p-message>
  </div>
  }
  <div class="w-full">
    <div class="flex flex-col gap-4">
      <div class="grid grid-cols-12 shadow p-4 m-1 rounded">
        <div class="col-span-1 font-bold">#</div>
        <div class="col-span-2 font-bold">Ordem</div>
        <div class="col-span-4 font-bold">Nome</div>
        <div class="col-span-4 font-bold">Email</div>
        <div class="col-span-1 font-bold"></div>
      </div>
      <div cdkDropList [cdkDropListData]="usuariosGrupo" (cdkDropListDropped)="drop($event)">
        @for ( signatario of usuariosGrupo; track $index) {
        <div cdkDrag (cdkDragStarted)="onDragStart()"
          class="grid grid-cols-12 shadow p-4 m-1 rounded align-middle dark:shadow-gray-600">
          <div class="col-span-1">
            <div class="flex items-center justify-center bg-teal-100 dark:bg-teal-400/10 rounded-full cursor-pointer"
              style="width: 2rem; height: 2rem">
              <i class="pi pi-users text-teal-500 !text-mediun"></i>
            </div>
          </div>
          <div class="col-span-2 my-auto">{{$index + 1}}</div>
          <div class="col-span-4 my-auto">{{signatario.firstName}}</div>
          <div class="col-span-4 my-auto">{{signatario.email}}</div>
          <div class="col-span-1 my-auto flex gap-2 justify-end">
            <i (click)="removerMembro(signatario)" pTooltip="Remover signatário" tooltipPosition="left"
              class="pi pi-trash hover cursor-pointer" style="font-size: 1.2rem"></i>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
  <app-voltar-salvar (salvarEmit)="salvarGrupo()" [cancel]="true" (voltarEmit)="fechar()" />
</div>

<p-dialog header="Novo signatário" [modal]="true" [(visible)]="visible" [responsive]="true">
  <div class="p-4 w-full">
    <div class="overflow-x-auto">
      <app-titulo-pesquisa [value]="{ titulo: '', hideBack: true, showCustom: false, }"
        (customEmit)="visible = true" />
      <app-tabela [view]="{ plus: true }" (plusEmit)="adicionarValue($event)" [cols]="colsUsers"
        [itens]="getUsuarios()" />
    </div>
    <div class="flex justify-end gap-2 mt-4">
      <p-button label="Ok" (click)="visible = false" />
    </div>
  </div>
</p-dialog>
