<div class="flex flex-row flex-wrap justify-center gap-2 absolute"
  style="width: calc(100% - 350px);z-index: 1;margin-top: -37px;">
  <p-button pTooltip="Fechar" icon="pi pi-times" severity="warn" class="cursor-pointer" [raised]="true" rounded
    (click)="voltar()" />
  <p-button pTooltip="Desfazer" icon="pi pi-undo" severity="secondary" class="cursor-pointer" [raised]="true" rounded
     (click)="_onUndo()" />
  <p-button pTooltip="Refazer" icon="pi pi-refresh" severity="secondary" [raised]="true" rounded
    (click)="_onRedo()" />
  <p-button pTooltip="Centralizar" icon="fa-solid fa-location-crosshairs" severity="secondary" [raised]="true" rounded
     (click)="_onZoomReset()" />
  <p-button pTooltip="Aumentar zoom" icon="pi pi-search-plus" severity="secondary" [raised]="true" rounded
    (click)="_onZoomIn()" />
  <p-button pTooltip="Diminuir zoom" icon="pi pi-search-minus" severity="secondary" [raised]="true" rounded
    (click)="_onZoomOut()" />
  <p-button pTooltip="Salvar" icon="pi pi-save" severity="help" [raised]="true" rounded  (click)="_onSave()" />
  <p-button pTooltip="Baixar imagem" icon="pi pi-image" severity="secondary" [raised]="true" rounded
    (click)="_onDownloadSvg()" />
  <p-button pTooltip="Ver xml" icon="pi pi-code" severity="secondary" [raised]="true" rounded
    (click)="_onViewXml()" />
  <p-button pTooltip="Baixar xml" icon="pi pi-download" severity="secondary" [raised]="true" rounded
    (click)="_onDownloadXml()" />
  <p-button pTooltip="Importar xml" icon="pi pi-folder" severity="secondary" [raised]="true" rounded
    (click)="_onImportXml()" />
    <p-select (onChange)="_updateVersao()" [options]="versoes" optionLabel="versao" [(ngModel)]="formulario" [style]="{'border-radius': '50px','box-shadow': 'var(--p-button-raised-shadow)'}" />
</div>
