<p-button severity="secondary" icon="pi pi-plus" label="Nova Tarefa" variant="outlined"
  (click)="viewFormulario = true" />


<p-dialog [modal]="true" [header]="instancia?.businessKey" [(visible)]="viewFormulario"
  [style]="{'width': '100%', 'max-width': '600px', 'margin': '0 5px'}">
  <h3 class="font-semibold text-lg mb-2 text-surface-700 dark:text-surface-200">Atribuído a</h3>
  <div
    class="flex my-6 items-center justify-between p-3 bg-primary-50 dark:bg-primary-900/20 border border-primary-200 dark:border-primary-900/30 rounded-lg">
    <div class="flex items-center justify-between gap-3 w-full">
      <p-avatar [label]="getInitials(userAssignee)" severity="info" shape="circle"
        styleClass="bg-primary-500 text-white font-bold"></p-avatar>
      <div class="grow">
        <span class="font-bold block">{{ userAssignee?.firstName ?? '- - -' }} {{ userAssignee?.lastName }}</span>
        <small class="text-surface-500">{{ userAssignee?.email }}</small>
      </div>
      <app-task-user-assignee [tipo]="ADICIONAL" [apenasAtribuir]="true" (assigneeEmit)="userAssignee = $event; tarefa.assignee = $event?.user?.id"
        (unssigneeEmit)="userAssignee = $event; tarefa.assignee = undefined" [tarefa]="tarefa" />
    </div>
  </div>
  <div class="flex flex-col gap-4 mb-8">
    <div class="flex flex-wrap gap-2 w-full">
      <label for="prioridade" class="required">Formulário</label>
      <p-multiselect [options]="formularios" [(ngModel)]="formularioSelecionados" optionLabel="nome" appendTo="body"
        placeholder="Selecione um formulário" [maxSelectedLabels]="3" class="w-full" />
      <!-- <p-select [options]="formularios" [(ngModel)]="formularioSelecionado" [showClear]="true" appendTo="body" optionLabel="nome"
        placeholder="Selecione uma prioridadde" class="w-full" /> -->
    </div>
  </div>
  @if(erro){
  <p-message severity="error" icon="pi pi-times-circle" styleClass="mb-2">{{erro}}</p-message>
  }
  <br>
  <div class="flex justify-end gap-2">
    <p-button severity="secondary" label="Cancelar" variant="outlined" (click)="viewFormulario = false" />
    <p-button [disabled]="load" severity="primary" label="Criar Tarefa" (click)="salvar()">
      @if(load){
      <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
      }
    </p-button>
  </div>
</p-dialog>
