<div class="bg-surface-card p-2 lg:p-4 rounded-lg">
  @if(showTitulo){
  <div class="mb-6 border-b border-surface-200 pb-4">
    <h2 class="text-xl font-semibold">✅ Status Geral das Tarefas</h2>
    @if(showDescricao){
    <p class="ml-1">Proporção de tarefas concluídas e não concluídas.</p>
    }
  </div>
  }

  <!-- Estado de Carregamento -->
  <div *ngIf="isLoading" class="flex justify-center items-center h-80">
    <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
  </div>

  <!-- Estado de Erro -->
  <div *ngIf="error && !isLoading" class="mt-4">
    <p-message severity="error" [text]="error"></p-message>
  </div>

  <!-- Gráfico de Pizza -->
  <div *ngIf="!isLoading && !error">
    <div *ngIf="pieChartData; else noData" class="flex justify-center">
      <p-chart [responsive]="true" type="doughnut" [data]="pieChartData" pStyleClass="p-4" [height]="height"
        [options]="pieChartOptions" styleClass="w-full md:w-1/2 lg:w-1/3"></p-chart>
    </div>

    <ng-template #noData>
      <div class="text-center p-4">
        <p-message severity="info" text="Nenhum dado de tarefas foi encontrado para análise."></p-message>
      </div>
    </ng-template>
  </div>
</div>
