<p-tabs [value]="tab" [scrollable]="true" (valueChange)="selectTab($event)">
  <p-tablist>
    <p-tab value="contas">
      <i class="pi pi-database mr-3"></i>
      <span>Usuários</span>
    </p-tab>
    <p-tab value="grupos">
      <i class="pi pi-play mr-3"></i>
      <span>Permissões</span>
    </p-tab>
    <p-tab value="departamentos">
      <i class="pi pi-building mr-3"></i>
      <span>Departamentos</span>
    </p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="contas">
      <div class="card">
        <app-titulo-pesquisa
          [value]="{ botaoAdd: 'Novo usuário', routerLink: 'form', showAtivos: true, showAdd: true, showPrint: true}"
          (searchEmit)="pesquisar($event)" (printEmit)="imprimir($event)"/>
        <app-tabela [page]="pagina" [auth]="{edit: 'AUS', detail: 'AUS'}"
          [view]="{ editEvent: true, delete: true, logout: true, lock: true , detail: true}"
          (editarEmit)="editar($event)" (logoutEmit)="logout($event)" (editarEmit)="editarUsuario($event)"
          (detalhesEmit)="detalhesUsuario($event)" (excluirEmit)="removerUsuario($event)" (lockEmit)="lock($event)"
          [cols]="cols" [itens]="itens">
        </app-tabela>
        <p-dialog header="Status da sessão" [(visible)]="showLogout" [breakpoints]="{ '960px': '75vw' }"
          [style]="{ 'min-width': '30vw' }" [modal]="true">
          @if (sessoesUsuario?.length > 0) {
          <h4 class="m-0 p-0">{{userSelecionador?.firstName}}</h4>
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 p-4">
            <div class="flex flex-col gap-2 w-full">
              <label class="text-gray-400">Usuário</label>
              <p class="text-xl font-semibold">{{userSelecionador?.firstName}}</p>
            </div>
            <div class="flex flex-col gap-2 w-full">
              <label class="text-gray-400">Início sessão</label>
              <p class="text-xl font-semibold">{{sessoesUsuario[0].start | date : 'dd/MM/yyyy hh:mm:ss'}}</p>
            </div>
            <div class="flex flex-col gap-2 w-full">
              <label class="text-gray-400">Ultima acesso</label>
              <p class="text-xl font-semibold">{{sessoesUsuario[0].lastAccess | anterior}}</p>
            </div>
            <div class="flex flex-col gap-2 w-full">
              <label class="text-gray-400">Endereço ip</label>
              <p class="text-xs lg:text-xl font-semibold">{{sessoesUsuario[0].ipAddress}}</p>
            </div>
          </div>
          }
          <h3 *ngIf="!sessoesUsuario.length || sessoesUsuario?.length == 0" class="text-red-500 font-semibold m-0 p-0">
            Não está logado</h3>
          <ng-template #footer>
            <div class="flex mt-8 gap-2">
              <p-button (onClick)="showLogout = false" label="Fechar" icon="pi pi-times" text />
              <p-button [disabled]="!sessoesUsuario.length" (click)="deslogar()" label="Deslogar usuário"
                severity="danger" icon="pi pi-sign-out" />
            </div>
          </ng-template>
        </p-dialog>
      </div>
    </p-tabpanel>
    <p-tabpanel value="grupos">
      <div class="card">
        <app-lista-permissoes />
      </div>
    </p-tabpanel>
    <p-tabpanel value="departamentos">
      @if(tab == 'departamentos'){
      <app-lista-grupos />
      }
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
