<div class="card min-tab-full" style="margin-bottom: 0; padding: 0!important;">
  <div class="flex flex-col justify-between">
    <p-tabs [value]="tab" className="h-full" [scrollable]="true" (valueChange)="selectTab($event)">
      <p-tablist>
        <p-tab value="form">
          <i class="pi pi-credit-card mr-3"></i>
          <span>Formulários</span>
        </p-tab>
        <p-tab value="bpmn">
          <i class="pi pi-sitemap mr-3"></i>
          <span>Fluxos</span>
        </p-tab>
        <p-tab value="dmn">
          <i class="pi pi-table mr-3"></i>
          <span>Decisões</span>
        </p-tab>
        <p-tab value="conectores">
          <i class="pi pi-arrow-right-arrow-left mr-3"></i>
          <span>Conectores</span>
        </p-tab>
        <p-tab value="deploy/implantacoes">
          <i class="pi pi-play mr-3"></i>
          <span>Implantações</span>
        </p-tab>
        <p-tab value="servico">
          <i class="pi pi-briefcase mr-3"></i>
          <span>Serviços</span>
        </p-tab>
      </p-tablist>
    </p-tabs>
    <div class="py-2 lg:py-4">
      <route-base />
    </div>
  </div>
</div>
