<div class="p-2 lg:p-4 h-full ">
  <div class="flex flex-col mb-4">
    <div class="flex gap-4">
      <div (click)="voltar()"
        class="flex items-center px-2 justify-center bg-gray-100 dark:bg-gray-400/10 border border-gray rounded-lg cursor-pointer"
        style="width: 2.5rem;">
        <i class="pi pi-arrow-left text-gray-500 !text-mediun"></i>
      </div>
      <div class="flex justify-between grow">
        <h3 class="m-0">{{deploy?.name}}</h3>
        <h4 class="text-orange-500 m-0">Versão {{process?.version}}</h4>
      </div>
    </div>
    <span class="text-gray-500 font-medium">{{deploy?.implantacao}}</span>
  </div>
  <app-titulo-detalhes-deploy [deploy]="deploy" [process]="process" [instancias]="nInstancias" />
  <div class="grid grid-cols-12 gap-4 w-full">
    <div class="col-span-12 lg:col-span-8 p-5 border rounded">
      <div class="py-4">
        <h5>Instâncias</h5>
        @if(instancias.length && pagina?.page){
        <app-tabela-paginada [view]="{ customview: true, stop: true, editEvent: true }" [page]="pagina.page" [cols]="colsProtocolo"
          [totalElements]="pagina.totalElements" [itens]="instancias" (visualizarEmit)="visualizar($event)"
          (stopEmit)="ativarInstancia($event)" (editarEmit)="editar($event)" (pageEmit)="paginar($event)" />
        }
      </div>
    </div>
    <div class="col-span-12 lg:col-span-4 p-5 border rounded">
      <div class="py-4">
        <h5>Versões</h5>
        <p-timeline [value]="deployesSource">
          <ng-template #opposite let-source>
          </ng-template>
          <ng-template #content let-source>
            <div (click)="this.reload(source.id)" class="flex flex-col gap-1 cursor-pointer">
              <span>{{ source.name ? source.name : source.key }}</span>
              <span class="text-orange-500">Versão {{ source.version }}</span>
            </div>
          </ng-template>
        </p-timeline>
      </div>
    </div>
  </div>
</div>
