<p-fluid>
  <div class="flex-col gap-6 w-full">
    <app-titulo-curto [titulo]="{
        nome: 'Cadastro paginas',
        icone: 'pi-briefcase' }" />
    <div class="flex flex-col py-4" style="max-width: 800px;">
      <div class="flex flex-col gap-6">
        <div class="flex flex-col gap-5">
          <div class="flex flex-col gap-2 w-full">
            <label for="nome" class="required">Nome</label>
            <input [class.border-error]="paginaServico.nome == ''" [(ngModel)]="paginaServico.nome" pInputText
              type="text" />
          </div>
          <div class="flex flex-col gap-2 w-full">
            <label for="nome" class="required">Endereço Redirecionamento</label>
            <input [(ngModel)]="paginaServico.redirect" pInputText type="text" />
          </div>
          <div class="flex items-center">
            <p-checkbox [(ngModel)]="paginaServico.publico" name="publico" [binary]="true" />
            <label class="ml-2">Pagina publica</label>
          </div>
        </div>
        <app-tabela [view]="{ plus: true, plusHead: true }" [page]="page" (plusHeadEmit)="viewServicos = true"
          (plusEmit)="adicionarValue($event)" [cols]="cols" [itens]="paginaServico.servicos" />
      </div>
      <app-voltar-salvar (salvarEmit)="salvar()" [cancel]="true" (voltarEmit)="voltarEmit.emit()" />
    </div>
  </div>
</p-fluid>

<p-dialog [modal]="true" appendTo="body" [(visible)]="viewServicos" [style]="{ 'min-width': '70%' }">
  <div class="px-4">
    <app-titulo-pesquisa [value]="{ titulo: 'Serviços disponiveis' }" />
    <app-tabela [view]="{ plus: true }" [page]="page" (plusEmit)="adicionarValue($event)" [cols]="cols"
      [itens]="servicos" />
    <div class="flex justify-end gap-2 mt-4">
      <p-button label="Ok" (click)="viewServicos = false" />
    </div>
  </div>
</p-dialog>
