<div class="card">
  <app-titulo-pesquisa
    [value]="{ botaoAdd: 'Novo Grupo', hideBack: true, showAtivos: true, showCustom: true }" (customEmit)="grupoSelect = true" />
  <app-tabela [auth]="{edit: 'ADM', delete: 'ADM'}" [page]="pagina" [view]="{ editEvent: true, delete: true }"
    (editarEmit)="editarGrupo($event)" (excluirEmit)="removerGrupo($event)" [cols]="colsSignatarios"
    [itens]="signatarios" />
</div>

<p-dialog header="Novo signatário" [modal]="true" [(visible)]="grupoSelect" [responsive]="true">
  <div class="p-4 w-full">
    @if(grupoSelect){
    <app-formulario-grupo-signatario [grupo]="grupoSelect" (voltarEmit)="grupoSelect = undefined" (updateEmit)="listarGrupos(); grupoSelect = false" />
    }
  </div>
</p-dialog>
