<div class="flex flex-col gap-4 m-6 pt-8">
  @if(processStartRequest?.isProcess && this.processStartRequest?.allProcess){
  <div class="flex items-center">
    <p-checkbox [disabled]="processStartRequest.isInstancia" [(ngModel)]="processStartRequest.allProcess"
      [binary]="true" />
    <label class="ml-2"> Aplicar à todos processos </label>
  </div>
  }
  @if(processStartRequest.isProcess && !this.processStartRequest?.allProcess){
  <div class="flex items-center">
    <p-checkbox [(ngModel)]="processStartRequest.includeProcessInstances" [binary]="true" />
    <label class="ml-2">Aplicar à todas instâncias do processo </label>
  </div>
  }
  <div class="flex items-center">
    <p-checkbox [(ngModel)]="processStartRequest.immediately" [binary]="true" />
    <label class="ml-2"> Executar imediatamente </label>
  </div>
  <div class="flex-auto">
    <label for="icondisplay" class="font-bold block mb-2"> Data da ação </label>
    <p-datepicker appendTo="body" [disabled]="processStartRequest.immediately" [showTime]="true" [hourFormat]="'24'"
      inputId="data" dateFormat="dd/mm/yy" [(ngModel)]="executionDate" [iconDisplay]="'input'" [showIcon]="true"
      inputId="icondisplay" />
  </div>
  <div class="flex mt-8 gap-2 justify-end">
    <p-button label="Cancelar" icon="pi pi-times" [className]="'grow lg:flex-none w-full-b'" text (click)="fechar()" />
    <p-button label="Suspender" [className]="'grow lg:flex-none'" severity="danger" icon="pi pi-stop-circle"
      (click)="confirmarSuspencao(true)" />
    <p-button label="Ativar" [className]="'grow lg:flex-none'" severity="success" icon="pi pi-play-circle"
      (click)="confirmarSuspencao(false)" />
  </div>
</div>
