<div class="p-4 w-full">
  @if(tipoEventoEditor.includes('GROUP')){
  <div class="overflow-x-auto">
    <app-titulo-pesquisa [value]="{ titulo: '', hideBack: true, showCustom: false, }" (customEmit)="fechar()" />
    <app-tabela [view]="{ plus: true }" (plusEmit)="adicionarValue($event)" [cols]="colsGrupos" [itens]="grupos" />
  </div>
  }@else {
  <div class="overflow-x-auto">
    <app-titulo-pesquisa [value]="{ titulo: '', hideBack: true, showCustom: false, }" (customEmit)="fechar()" />
    <app-tabela [view]="{ plus: true }" (plusEmit)="adicionarValue($event)" [cols]="cols" [itens]="usuarios" />
  </div>
  }

  <div class="flex justify-end gap-2 mt-4">
    <p-button label="Ok" (click)="fechar()" />
  </div>
</div>
