<div class="p-2 lg:p-4">
  <!-- Estado de Carregamento -->
  <div *ngIf="isLoading" class="flex justify-center items-center h-40">
    <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
  </div>

  <!-- Estado de Erro -->
  <div *ngIf="error && !isLoading" class="mt-4">
    <p-message severity="error" [text]="error"></p-message>
  </div>

  <!-- Gráfico de Linha -->
  <div *ngIf="!isLoading && !error">
    <div *ngIf="kpiCards.length > 0; else noData" class="flex flex-nowrap gap-4">

 <!--      <div
        class="w-[70px] p-4 rounded-lg bg-surface-50 dark:bg-surface-800 shadow-md  flex items-center">
        <app-imprimir-relatorio/>
      </div> -->
      <!-- Itera sobre cada cartão de KPI -->
      <div *ngFor="let card of kpiCards"
        class="p-4 w-full grow rounded-lg bg-surface-50 dark:bg-surface-800 shadow-md flex items-center gap-4 transition-all duration-200 hover:shadow-xl hover:-translate-y-1"
        [pTooltip]="card.tooltip" tooltipPosition="bottom">

        <div class="mr-1 hidden lg:flex items-center justify-center bg-gray-100/30 dark:bg-gray-400/10 rounded-border"
          style="width: 3.5rem; height: 3.5rem">
          <i [class]="card.icon + ' ' + card.colorClass" class="!text-2xl"></i>
        </div>

        <div class="flex flex-col">
          <span class="text-3xl font-bold text-surface-800 dark:text-surface-100">{{ card.value }}</span>
          <span class="text-sm font-medium text-surface-600 dark:text-surface-300">{{ card.title }}</span>
        </div>

      </div>


    </div>

    <ng-template #noData>
      <div class="text-center p-4">
        <p-message severity="info" text="Nenhuma métrica foi encontrada."></p-message>
      </div>
    </ng-template>
  </div>

</div>
