<div class="grid grid-cols-1 p-4 mb-3 rounded" style="width: 100%;background: var(--surface-card)">
  @if(etapas?.length > 0){
  <p-timeline layout="horizontal" align="bottom" [value]="etapas" className="w-full">
    <ng-template #marker let-event>
            <span [pTooltip]="!event?.description?.includes('$') ? event.description : '' " tooltipPosition="top" class="flex w-8 h-8 items-center justify-center  rounded-full z-10">
                <i class="pi pi-{{event?.pendente == true ? 'clock' : 'check-circle'}} text-{{event?.pendente ? 'gray' : 'primary'}} dark:text-{{event?.pendente ? 'gray' : 'primary'}}" style="font-size: 1rem;"></i>
            </span>
        </ng-template>
    <ng-template #content let-event>
      {{ event.nome && event.nome != '' && !event.nome.includes('$') ? event.nome : event.id }}
    </ng-template>
  </p-timeline>
}
</div>
