<div class="card m-0 overflow-y-auto">
  @if(filtro){
  <p-fluid>
    <div class="flex">
      <div class="flex flex-col gap-7 w-full">
        <app-titulo-curto [titulo]="{ nome: 'Cadastro Filtros', icone: 'pi-filter' }" />
        <div class="flex flex-wrap lg:flex-nowrap justify-between gap-4">
          <div class="w-full border p-5 rounded">
            <div class="flex flex-auto flex-wrap gap-6 py-4">
              <div class="flex flex-wrap lg:flex-nowrap gap-8 flex-grow">
                <div class="flex flex-col gap-4 flex-grow">
                  <div class="flex flex-col gap-2 w-full">
                    <label class="required">Nome do Filtro</label>
                    <input [class.border-error]="filtro.name== ''" [(ngModel)]="filtro.name" pInputText type="text" />
                  </div>
                  <div class="flex flex-col gap-2 w-full">
                    <label class="required">Descrição</label>
                    <input [(ngModel)]="filtro.properties.description" pInputText type="text" />
                  </div>
                  <div class="flex flex-col gap-2 w-full">
                    <label>Prioridade</label>
                    <input [(ngModel)]="filtro.properties.priority" pInputText type="number" />
                  </div>
                  <div class="flex items-center">
                    <p-checkbox inputId="dashboard" name="dashboard" [(ngModel)]="filtro.properties.naoSupervisionadas"
                      [binary]="true" />
                    <label for="dashboard" class="ml-2"> Sem Supervisão </label>
                  </div>
                  <div class="flex items-center">
                    <p-checkbox inputId="dashboard" name="dashboard" [(ngModel)]="filtro.properties.dashboard"
                      [binary]="true" />
                    <label for="dashboard" class="ml-2"> Mostrar no Dashboard </label>
                  </div>
                  @if(contemCandidateUser()){
                  <div class="flex items-center">
                    <p-checkbox inputId="dashboard" name="dashboard" [(ngModel)]="includeAssignedTasks"
                      [binary]="true" />
                    <label for="dashboard" class="ml-2"> Incluir Tarefas Atribuídas </label>
                  </div>
                }
                  <div class="flex flex-col gap-2 w-full">
                    <label class="required">Cor do Texto</label>
                    <p-colorpicker [(ngModel)]="filtro.properties.color" />
                  </div>
                </div>
                <div class="flex flex-col gap-4 flex-grow">
                  <div class="flex flex-col gap-4">
                    <p class="m-0">Quem Pode ver Esse Filtro</p>
                    <div class="flex items-center">
                      <p-radiobutton name="isIndividual" value="INDIVIDUAL" [(ngModel)]="filtro.properties.view"
                        inputId="isIndividual" />
                      <label for="isIndividual" class="ml-2">Apenas Eu</label>
                    </div>
                    <div class="flex items-center">
                      <p-radiobutton name="allUsers" value="ALL_USERS" [(ngModel)]="filtro.properties.view"
                        inputId="allUsers" />
                      <label for="allUsers" class="ml-2">Todos Usuários</label>
                    </div>
                    <div class="flex items-center">
                      <p-radiobutton name="users" value="USERS" [(ngModel)]="filtro.properties.view" inputId="users" />
                      <label for="users" class="ml-2">Usuários Selecionados</label>
                    </div>
                  </div>
                  <div class="flex flex-col gap-4">
                    <p class="m-0">Critérios</p>
                    <div class="flex items-center">
                      <p-radiobutton name="isIndividual" value="E"  [(ngModel)]="filtro.properties.allCriterios"
                        inputId="isIndividual" />
                      <label for="isIndividual" class="ml-2">Atender a Todos Critérios</label>
                    </div>
                    <div class="flex items-center">
                      <p-radiobutton name="allUsers" value="OR" [(ngModel)]="filtro.properties.allCriterios"
                        inputId="allUsers" />
                      <label for="allUsers" class="ml-2">Atender ao Menos um Critério</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full border p-5 rounded">
            <h5>Ordem das tarefas</h5>
            <p-picklist [source]="sortings" [target]="autorization.sortings" [dragdrop]="true" [responsive]="true"
              breakpoint="1400px">
              <ng-template let-item #item>
                <span>{{ item.nome }}</span>
              </ng-template>
            </p-picklist>
          </div>
        </div>
        <app-titulo-curto [titulo]="{ nome: 'Parametros', icone: 'pi-code' }" />
        <div class="w-full border p-5 rounded">
          <div class="flex justify-between">
            <div class="grow">
              <app-titulo-pesquisa [value]="{ titulo: 'Parametros', customLabel: 'Novo Parametro', showCustom: true, }"
                (customEmit)="visible = true" />
            </div>
          </div>
          <app-tabela
            [auth]="{edit: 'FILTER_CREATE', config: 'FILTER_CREATE', delete: 'FILTER_DELETE', view: 'FILTER_READ'}"
            [view]="{ editEvent: true, deleteEvent: true }" (editarEmit)="editar($event)"
            (excluirEmit)="removerQuery($event)" [cols]="cols" [itens]="getItensParametros()" />
        </div>
        <app-titulo-curto [titulo]="{ nome: 'Autorizações', icone: 'pi-shield' }" />
        <div class="w-full border p-5 rounded">
          <div class="flex justify-between mt-4">
            <h3>Usuários</h3>
          </div>
          <p-picklist [disabled]="filtro.properties.view == 'ALL_USERS'" [source]="usuarios" filterBy="firstName"
            [target]="autorization.users" [dragdrop]="true" [responsive]="true">
            <ng-template let-item #item>
              <div class="grid grid-cols-12 w-full">
                <span class="col-span-6">{{ item.firstName }}</span>
                <span class="col-span-6">{{ item.email }}</span>
              </div>
            </ng-template>
          </p-picklist>
          <br>
          <h3>Departamentos</h3>
          <p-picklist [disabled]="filtro.properties.view == 'ALL_USERS'" [source]="grupos" filterBy="name"
            [target]="autorization.groups" [dragdrop]="true" [responsive]="true">
            <ng-template let-item #item>
              <div class="grid grid-cols-12 w-full">
                <span class="col-span-6">{{ item.name }}</span>
                <span class="col-span-6">{{ item.description }}</span>
              </div>
            </ng-template>
          </p-picklist>
        </div>
        <app-voltar-salvar (salvarEmit)="salvarFiltro()" />
      </div>
    </div>
  </p-fluid>
  }
</div>

<p-dialog header="Novo parametro" [modal]="true" [(visible)]="visible" [responsive]="true" [style]="{'width': '100%', 'max-width': '800px', 'margin': '0 5px'}">
  <div class="flex flex-col gap-4 mb-4">
    <label for="username" class="font-semibold w-24">Paramentro</label>
    <p-select (onChange)="editar($event.value.form)" appendTo="body" [options]="getParametros()"
      [(ngModel)]="parametroSelect" dataKey="form.query" optionLabel="form.nome" placeholder="Selecione um parametro" />
  </div>
  @if(!isArray(parametroSelect?.value)){
  <div class="flex flex-col gap-4 mb-8">
    <label for="value" class="font-semibold w-24">Value</label>
    <div class="flex gap-2">
       <input [disabled]="!parametroSelect.form.editavel" pInputText id="value" [(ngModel)]="parametroSelect.value"
      class="flex-auto" autocomplete="off" />
      @if(parametroSelect?.form?.opcoes?.length > 0){
      <p-select appendTo="body" (onChange)="alterarValorOpcoes(opcao.value)" #opcao [options]="parametroSelect?.form?.opcoes"
       [(ngModel)]="parametroSelect.value" optionValue="value"  optionLabel="nome" placeholder="Selecione um parametro" />
      }
    </div>
  </div>
  }@else {
  <div class="overflow-x-auto">
    <app-titulo-pesquisa [value]="{ titulo: parametroSelect.form.type, showCustom: false, }"
      (customEmit)="visible = true" />
    <app-tabela [view]="{ plus: true }" (editarEmit)="editar($event)" (plusEmit)="adicionarValue($event)"
      (excluirEmit)="removerQuery($event)" [cols]="colsSelect" [itens]="itensSelect" />
  </div>
  }
  <div class="flex justify-end gap-2 mt-4">
    <p-button label="Fechar" severity="secondary" (click)="visible = false" />
    <p-button label="Salvar" (click)="salvarParametro(); visible = false" />
  </div>
</p-dialog>
