<div class="grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2 lg:gap-4 mb-3" style="width: 100%;">
  <div class="card-small border rounded-border">
    <div class="col-span-12 lg:col-span-6 xl:col-span-3">
      <div class="mb-0" style="margin-bottom: 0;">
        <div class="flex items-center justify-between mb-0 grow">
          <div class="flex flex-col gap-1">
            <span class="block text-muted-color font-medium mb-2">Protocolo </span>
            <div class="flex">
              @if(instancia){
              <app-numero-protocolo [instancia]="instancia"/>
              }
            </div>
            <span class="text-green-500 font-medium text-xs lg:text-sm">{{statusTarefaDescriptions[instancia?.state] ??
              '- - -'}}</span>
          </div>
          <div class="hidden lg:flex items-center justify-center bg-indigo-100/30 dark:bg-indigo-400/10 rounded-full"
            style="width: 4.5rem; height: 4.5rem">
            <i class="pi pi-{{instancia?.state == 'COMPLETED' ? 'check' : 'info'}} text-indigo-400 !text-xl"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  @if(instancia?.state == 'COMPLETED'){
  <div class="card-small border rounded-border">
    <div class="col-span-12 lg:col-span-6 xl:col-span-3">
      <div class="mb-0" style="margin-bottom: 0;">
        <div class="flex items-center justify-between mb-0">
          <div class="flex flex-col gap-1">
            <span class="block text-muted-color font-medium mb-2">Data conclusão</span>
            <span class="text-gray-500 font-medium">{{instancia?.endTime | date : 'dd/MM/yy HH:mm'}}</span>
            <span class="text-green-500 font-medium text-xs lg:text-sm">{{instancia?.dataVencimento | anterior}}</span>
          </div>
          <div class="hidden lg:flex items-center justify-center bg-green-100/30 dark:bg-green-400/10 rounded-full"
            style="width: 4.5rem; height: 4.5rem">
            <i class="pi pi-flag text-green-400 !text-xl"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  }@else{
  @if(layoutService.isDesktop()){
  <div class="card-small border rounded-border">
    <div class="col-span-12 lg:col-span-6 xl:col-span-3">
      <div class="mb-0" style="margin-bottom: 0;">
        <div class="flex items-center justify-between mb-0">
          <div class="flex flex-col gap-1">
            <span class="block text-muted-color font-medium mb-2">Iniciada</span>
            <span class="text-gray-500">{{instancia?.startTime | date : 'dd/MM/yy HH:mm'}}</span>
            <span class="text-lime-500 font-medium text-xs lg:text-sm">{{instancia?.startTime | anterior}}</span>
          </div>
          <div class="hidden lg:flex items-center justify-center bg-lime-100/30 dark:bg-lime-400/10 rounded-full"
            style="width: 4.5rem; height: 4.5rem">
            <i class="pi pi-hourglass text-lime-400 !text-xl"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
  @if(instancia?.dataVencimento){
  <div class="card-small border rounded-border">
    <div class="col-span-12 lg:col-span-6 xl:col-span-3">
      <div class="mb-0" style="margin-bottom: 0;">
        <div class="flex items-center justify-between mb-0">
          <div class="flex flex-col gap-1">
            <span class="block text-muted-color font-medium mb-2">Vencimento</span>
            <span class="text-gray-500">{{instancia?.dataVencimento | date : 'dd/MM/yy HH:mm'}}</span>
            <span class="text-red-500 font-medium text-xs lg:text-sm">{{instancia?.dataVencimento | posterior}}</span>
          </div>
          <div class="hidden lg:flex items-center justify-center bg-red-100/30 dark:bg-red-400/10 rounded-full"
            style="width: 4.5rem; height: 4.5rem">
            <i class="pi pi-calendar-times text-red-400 !text-xl"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
  }
</div>
