<div class="p-4">
  <app-titulo-pesquisa [value]="{
  botaoAdd: 'Nova Implantação',
  routerLink: 'new/' + tipo.toLowerCase(),
  showAtivos: true,
  showCustom: true,
}" (customEmit)="novo()" />
  <app-tabela [auth]="{edit: 'DEPLOY_CREATE'}"
    [view]="{ editEvent: true, customview: true, stop: true, delete: true, deploy: true, refresh: true }" [cols]="cols"
    [itens]="deployes" (visualizarEmit)="visualizar($event)" (refreshEmit)="refreshDeploy($event)"
    (stopEmit)="ativarInstancia($event)" (deployEmit)="implantar($event)" (editarEmit)="editar($event)"
    (configEmit)="configurar($event)" (excluirEmit)="remover($event)"></app-tabela>
</div>
<p-dialog [modal]="true" [(visible)]="visible">
  @if(deploy && visible){
  <app-formulario-deploy [deploy]="deploy" (voltarEmit)="visible = false" />
  }
</p-dialog>
