<div class="card">
  <app-titulo-curto [titulo]="{
        nome: 'Minha conta',
        icone: 'pi-user'
      }" />
  <div *ngIf="load" class="rounded-border border border-surface p-6">
    <div class="flex mb-4">
      <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
      <div>
        <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton height=".5rem"></p-skeleton>
      </div>
    </div>
    <p-skeleton width="100%" height="150px"></p-skeleton>
    <div class="flex justify-between mt-4">
      <p-skeleton width="4rem" height="2rem"></p-skeleton>
      <p-skeleton width="4rem" height="2rem"></p-skeleton>
    </div>
  </div>
  <div *ngIf="!load" class="flex flex-col gap-4">
    <p-fieldset legend="Meus dados" [toggleable]="false" [style]="{'height': '100%'}">
      <div class="flex flex-col gap-4 mt-4">
        <div class="flex flex-col w-full">
          <label class="text-gray-300" for="nome">Nome</label>
          <p class="text-xl font-md m-0 text-black-600">{{usuario?.firstName}}</p>
        </div>
        <div class="flex flex-col w-full">
          <label class="text-gray-300" for="lastname">Sobrenome</label>
          <p class="text-xl font-md m-0 text-black-600">{{usuario?.lastName}}</p>
        </div>
        <div class="flex flex-col w-full">
          <label class="text-gray-300" for="username">Documento</label>
          <p class="text-xl font-md m-0 text-black-600">{{usuario?.username}}</p>
        </div>
        <div class="flex flex-col w-full">
          <label class="text-gray-300" for="email">Email</label>
          <p class="text-xl font-md m-0 text-black-600">{{usuario?.email}}</p>
        </div>
        <div class="flex flex-col w-full">
          <label class="text-gray-300" for="phone">Celular</label>
          <p class="text-xl font-md m-0 text-black-600">{{usuario?.attributes['phone']}}</p>
        </div>
      </div>
    </p-fieldset>
    <!--     <p-fieldset legend="Minhas permissões" [toggleable]="false" [style]="{'height': '100%', 'width': '100%'}">
      <div class="flex flex-col gap-4 py-4">
        <app-horario-atendimento [horario]="usuario.controle_acesso.inicio + ':' + usuario.controle_acesso.fim"
          [dias]="usuario.controle_acesso.dias" />
          <div class="grid grid-cols-2 lg:grid-cols-4">
        <div *ngFor="let grupo of  getGrupos()" class="items-center pb-2">
          <i class="pi pi-check-circle text-teal-500"></i>
          <label class="ml-2">{{grupo.description}}</label>
        </div>
        </div>
      </div>
    </p-fieldset> -->
  </div>
  <div class="flex flex-wrap mt-8 gap-4">
    <p-button label="Voltar" icon="pi pi-times" text (click)="voltar()" />
    <a pButton target="_blank"
      href="https://auth.simodapp.com:8443/realms/simod/account/?referrer=tarefas&referrer_uri=http://localhost:5500/painel/conta/meus-dados"
      icon="pi pi-user-edit">
      <span pButtonLabel>Editar dados</span>
    </a>
  </div>
</div>

<p-popover #op id="overlay_panel" [style]="{ width: '100%', 'max-width': '400px' }">
  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-2 w-full">
      <label for="firstname" class="required">Senha atual</label>
      <input [(ngModel)]="password.old" pInputText type="text" />
    </div>
    <div class="flex flex-col gap-2 w-full">
      <label for="firstname" class="required">Nova senha</label>
      <input [(ngModel)]="password.password" pInputText type="text" />
    </div>
    <div class="flex flex-col gap-2 w-full">
      <label for="lastName" class="required">Confirmar senha</label>
      <input [(ngModel)]="password.confirm" pInputText type="text" />
    </div>
    <p-message *ngIf="mensagem" [severity]="mensagem?.severity">{{mensagem?.text}}</p-message>
    <div class="flex mt-8 gap-2">
      <p-button label="Cancelar" icon="pi pi-times" text (click)="op.hide()" />
      <p-button (click)="alterarSenha()" label="Salvar" severity="danger" icon="pi pi-save" />
    </div>
  </div>

</p-popover>
