@if(true){
<p-message severity="warn" variant="outlined">Protocolo ({{instancia.businessKey}}) possui uma instância em andamento!</p-message>
}
<p-fluid>
  <div class="flex">
    <div class="flex-col gap-6 w-full">
      <div class="flex flex-auto flex-wrap gap-6 py-4" style="max-width: 400px;">
        <div class="flex flex-col gap-4 flex-grow">
          <div class="flex gap-4">
            <div class="flex items-center">
              <p-checkbox (onChange)="selecionarServico($event, true)" [(ngModel)]="trocarServico" name="publico"
                [binary]="true" />
              <label class="ml-2">Trocar serviço</label>
            </div>
            <div class="flex items-center">
              <p-checkbox [(ngModel)]="restartProcess.initialVariables" name="publico" [binary]="true" />
              <label class="ml-2">Importar formulários</label>
            </div>
          </div>
          <div class="flex flex-wrap gap-2 w-full">
            <label class="required">Selecione o serviço</label>
            <p-select (onChange)="selecionarServico($event, false)" [disabled]="!trocarServico" [options]="servicos"
              [(ngModel)]="servico" [checkmark]="true" optionLabel="nome" [showClear]="true"
              placeholder="Selecione um serviço" class="w-full" />
          </div>
          <div class="flex flex-wrap gap-2 w-full">
            <label class="required">Apartir de qual tarefa</label>
            <p-select [disabled]="trocarServico" [options]="atividades" optionValue="id"
              [(ngModel)]="restartProcess.activityId" [checkmark]="true" optionLabel="nome" [showClear]="true"
              placeholder="Selecione a tarefa de início" class="w-full" />
          </div>

        </div>
      </div>
      <app-voltar-salvar (salvarEmit)="restart()" [viewCancel]="viewCancel"/>
    </div>
  </div>
</p-fluid>
