<div class=mb-4>
  <app-titulo-processo class="mb-4"></app-titulo-processo>
</div>
<div class="card" style="max-height: calc(100vh - 90px);margin-bottom: 0;">
  <div class="flex flex-col justify-between" style="height: calc(100vh - 200px);">
    <p-tabs value="0" [scrollable]="true" (valueChange)="selectTab($event)" [value]="tab">
      <p-tablist>
        <p-tab value="0">
          <i class="pi pi-play-circle mr-3"></i>
          <span>Instâncias</span>
        </p-tab>
        <p-tab value="1">
          <i class="pi pi-exclamation-triangle mr-3"></i>
          <span>Incidentes</span>
        </p-tab>
        <p-tab value="2">
          <i class="pi pi-arrow-right-arrow-left mr-3"></i>
          <span>Chamdas de processo</span>
        </p-tab>
        <p-tab value="3">
          <i class="pi pi-briefcase mr-3"></i>
          <span>Definições de trabalho</span>
        </p-tab>
        <p-tab value="4">
          <i class="pi pi-sitemap mr-3"></i>
          <span>Diagrama</span>
        </p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <app-tabela [view]="{
  edit: true,
  delete: true,
  stop: true,
  view: true
}" [cols]="colsInstancia" [itens]="instancias">
          </app-tabela>
        </p-tabpanel>
        <p-tabpanel value="1">

        </p-tabpanel>
        <p-tabpanel value="2">

        </p-tabpanel>
        <p-tabpanel value="3">

        </p-tabpanel>
        <p-tabpanel value="4">

        </p-tabpanel>
        <p-tabpanel value="5">
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</div>