<div class="p-4">
  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <h2 class="!text-xl font-semibold mb-2">💚 Saúde do Motor</h2>
    </div>
    <div *ngIf="status.timestamp" class="flex items-center">
      <div class="w-3 h-3 rounded-full mr-2" [ngClass]="status.status === 200 ? 'bg-green-500' : 'bg-red-500'"></div>
      <small class="font-normal text-surface-500">
        {{ status.error }} - {{ status.timestamp | date:'HH:mm:ss' }}
      </small>
    </div>
  </div>

  <!-- Estado de Carregamento -->
  <div *ngIf="isLoading" class="flex justify-center items-center h-60">
    <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
  </div>

  <!-- Estado de Erro -->
  <div *ngIf="error && !isLoading" class="mt-4">
    <p-message severity="error" [text]="error"></p-message>
  </div>

  <!-- Grade de Métricas -->
  <div *ngIf="!isLoading && !error && metrics">
    <div class="flex flex-wrap lg:flex-nowrap gap-6">
      <div class="grow grid grid-cols-2 gap-6">

        <!-- Memória -->
        <div class="col-span-1 p-4 rounded-lg bg-surface-50 dark:bg-surface-800 shadow-md">
          <h4 class="font-semibold mb-3 text-lg">Memória</h4>
          <p-progressBar [value]="memoryUsagePercent" [showValue]="false" styleClass="h-4"></p-progressBar>
          <div class="flex justify-between mt-2 text-sm text-surface-600 dark:text-surface-300">
            <span>{{ memoryUsedFormatted }} / {{ memoryMaxFormatted }}</span>
            <span class="font-bold">{{ memoryUsagePercent }}%</span>
          </div>
        </div>

        <!-- Disco -->
        <div class="col-span-1 p-4 rounded-lg bg-surface-50 dark:bg-surface-800 shadow-md">
          <h4 class="font-semibold mb-3 text-lg">Uso do Disco</h4>
          <p-progressBar [value]="diskUsagePercent" [showValue]="false" styleClass="h-4"></p-progressBar>
          <div class="flex justify-between mt-2 text-sm text-surface-600 dark:text-surface-300">
            <span>{{ diskUsedFormatted }} / {{ diskTotalFormatted }}</span>
            <span class="font-bold">{{ diskUsagePercent }}%</span>
          </div>
        </div>


        <!-- CPU -->
        <div
          class="col-span-1 p-4 rounded-lg bg-surface-50 dark:bg-surface-800 shadow-md flex items-center justify-center">
          <div class="text-center">
            <span class="text-4xl font-bold">{{ metrics.systemCpuCount }}</span>
            <p class="text-surface-600 dark:text-surface-300">Núcleos de CPU</p>
          </div>
        </div>

        <!-- Sessões Ativas -->
        <div
          class="col-span-1 p-4 rounded-lg bg-surface-50 dark:bg-surface-800 shadow-md flex items-center justify-center">
          <div class="text-center">
            <span class="text-4xl font-bold">{{ metrics.sessionsActive }}</span>
            <p class="text-surface-600 dark:text-surface-300">Sessões Ativas</p>
          </div>
        </div>

      </div>
      <!-- Gráfico de Threads -->
      <div class="col-span-1 p-4 rounded-lg bg-surface-50 dark:bg-surface-800 shadow-md w-full lg:max-w-[250px]">
        <h4 class="font-semibold mb-0 text-lg text-center">Composição das Threads</h4>
        <div *ngIf="threadsChartData" class="flex justify-center items-center h-full p-4">
          <p-chart [responsive]="true" type="doughnut" [data]="threadsChartData" [options]="threadsChartOptions" [height]="layouService.isDesktop() ? '145px' : '125px'"></p-chart>
        </div>
      </div>
    </div>
  </div>
</div>
